<div ng-controller="EventsAndWorkshopsController as ctrl" id="bg" ng-keydown="ctrl.move($event)" tabindex="1" class="eventsMainDiv" ng-click="ctrl.changeOverlay()">
    <div class="overlay" ng-if="ctrl.showOverlay">
        <img src="../images/eventsInstructions.svg" ng-if="!ctrl.isMobile" style="height:50vh; width: 80vw; margin: 15vh 0 0 10vw">
        <h1 style="color: white; text-align: center; margin: 20vh 0 0 0" ng-if="ctrl.isMobile"><u>Navigation Controls</u></h1>
        <img src="../images/mobile.png" ng-if="ctrl.isMobile" style="height:20vh; width: 30vw; margin: 5vh 0 0 35vw">

        <h4 style="color: white; text-align: center; margin: 5vh 0 0 0" ng-if="ctrl.isMobile">Swipe up and down to change between categories and swipe left and right to navigate between different events.</h4>
        <h2 style="color: white; text-align: center; margin: 10vh 0 0 0; cursor: pointer" ng-click="ctrl.changeOverlay()"><u>Explore</u></h2>
    </div>

    <div class="topTransparentDiv">
        <i class="fa fa-home fa-icons" aria-hidden="true" ng-click="ctrl.go('main')" style="margin: 3vh 0 0 2vw; color: white; float: left; cursor: hand; cursor: pointer" data-toggle="tooltip" data-placement="right"  title="Home"></i><br>
        <label class="fa-icons" style="color: white; margin: 0 0 0 42vw">{{ctrl.eventDetails[ctrl.centreDiv.genreId].genre}}</label>
    </div>
    <div class="bottomTransparentDiv">
        <label style="float: left" class="footer">Copyright 2016 @ CSEA.<br> All rights reserved.</label>
        <label style="float: right" class="footer">For further queries,<br> Contact <strong style="color: #f5f5f5">webteam@abacus.org.in</strong></label>
    </div>

    <div class="verticalBackgroundDiv"></div>
    <div class="horizontalBackgroundDiv"></div>

    <div class="column col-md-1 verticalMainDiv" ng-repeat="genre in ctrl.eventDetails"
         style="margin-top: {{ctrl.marginsTop[(ctrl.verticalDivPosition + $index + ctrl.eventDetails.length) %ctrl.eventDetails.length]}};  background-size: 100% 100%; color: white"
            ng-if="ctrl.marginTopValue[(ctrl.verticalDivPosition + $index + ctrl.eventDetails.length) %ctrl.eventDetails.length] < 125">
        <!--ng-style="ctrl.marginTopValue[(ctrl.verticalDivPosition+$index+5) %5] < 6 || ctrl.marginTopValue[(ctrl.verticalDivPosition+$index+5) %5] > 50.6  && {'display': 'none'} || {}"-->
        {{genre.genre}}
        <!--<div style="height: 12vh; width: 30vw; background-color: teal">
            {{event.name}}{{$index}}
        </div>-->
    </div>
    <div class="row horizontalDivRow" ng-init="ctrl.setFocus()" id="navigation">
        <div class="column col-md-1 horizontalMainDiv" ng-repeat="event in ctrl.eventDetails[ctrl.centreDiv.genreId].events"  ng-click="ctrl.check()"
             style="margin-left: {{ctrl.eventDetails[ctrl.centreDiv.genreId].margins[(ctrl.divPosition+$index+ctrl.eventDetails[ctrl.centreDiv.genreId].events.length) %ctrl.eventDetails[ctrl.centreDiv.genreId].events.length]}};
             background-image: url({{event.image}}); background-size: 100% 100%"
                ng-if="(ctrl.eventDetails[ctrl.centreDiv.genreId].marginValue[(ctrl.divPosition+$index+ctrl.eventDetails[ctrl.centreDiv.genreId].events.length) %ctrl.eventDetails[ctrl.centreDiv.genreId].events.length] > -16
                && ctrl.eventDetails[ctrl.centreDiv.genreId].marginValue[(ctrl.divPosition+$index+ctrl.eventDetails[ctrl.centreDiv.genreId].events.length) %ctrl.eventDetails[ctrl.centreDiv.genreId].events.length] < 106)">

            {{event.name}}
            <!--<div style="height: 16vh; width: 8vw; margin-top: 40%; background-color: teal">
                {{event.name}}{{$index}}
            </div>-->
        </div>
        <div class="mainMidDiv" ng-swipe-up="ctrl.change(38)" ng-swipe-down="ctrl.change(40)" ng-swipe-left="ctrl.change(37)" ng-swipe-right="ctrl.change(39)"
             style="background-image: url({{ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].image}}); background-size: 100% 100%">
            <div class="mainInnerDiv">
                <div ng-class="ctrl.centreDiv.genreId == 0 && ctrl.horizontalMidDiv == 8 ? 'workshop-bigMidContentsDiv' : 'midContentsDiv'" ng-if="ctrl.show == 1" ng-bind-html="ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].description"><!--{{ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].description}}--></div>
                <div ng-class="ctrl.centreDiv.genreId == 0 && ctrl.horizontalMidDiv == 8 ? 'workshop-bigMidContentsDiv' : 'midContentsDiv'" ng-if="ctrl.show == 2">
                    <ul>
                        <li ng-repeat="rules in ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].rules.points">{{rules}}</li>
                    </ul>
                </div>
                <div ng-class="ctrl.centreDiv.genreId == 0 && ctrl.horizontalMidDiv == 8 ? 'workshop-bigMidContentsDiv' : 'midContentsDiv'" ng-if="ctrl.show == 3" >
                    <h5 ng-if="ctrl.centreDiv.genreId == 0 && ctrl.horizontalMidDiv == 8" style="text-align: center">TOPICS:</h5>
                    <h5 ng-if="ctrl.centreDiv.genreId == 2 && ctrl.horizontalMidDiv == 0">THEME:</h5>
                    <ul>
                        <li ng-repeat="format in ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].format.rounds">{{format}}</li>
                    </ul>
                </div>
                <div ng-class="ctrl.centreDiv.genreId == 0 && ctrl.horizontalMidDiv == 8 ? 'workshop-bigMidContentsDiv' : 'midContentsDiv'" ng-if="ctrl.show == 4">
                    <ul>
                        <li ng-repeat="contact in ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].contact">{{contact}}</li>
                    </ul>
                </div>
                <div class="midDivNavRing" ng-init="ctrl.enableClick()" ng-hide="ctrl.eventDetails[ctrl.centreDiv.genreId].genreId == 5 || ctrl.eventDetails[ctrl.centreDiv.genreId].genreId == 6">
                    <i class="fa fa-file-text fa-icons noPreventDefault" aria-hidden="true" ng-click="ctrl.show = 1" data-toggle="tooltip" data-placement="left" title="Description" style=" cursor: hand; cursor: pointer"
                    ng-style="ctrl.show == 1 && {'color' : '#00bcd4'} || {}"></i><br>
                    <i class="fa fa-gavel fa-icons noPreventDefault" aria-hidden="true" ng-click="ctrl.showRules()" data-toggle="tooltip" data-placement="left" title="Rules" style=" cursor: hand; cursor: pointer"
                       ng-style="ctrl.show == 2 && {'color' : '#00bcd4'} || {}"></i><br>
                    <i class="fa fa-pencil fa-icons noPreventDefault" aria-hidden="true" ng-click="ctrl.show = 3" data-toggle="tooltip" data-placement="left" title="Format" style=" cursor: hand; cursor: pointer"
                       ng-style="ctrl.show == 3 && {'color' : '#00bcd4'} || {}"></i><br>
                    <i class="fa fa-phone fa-icons noPreventDefault" aria-hidden="true" ng-click="ctrl.show = 4" data-toggle="tooltip" data-placement="left" title="Contact" style=" cursor: hand; cursor: pointer"
                       ng-style="ctrl.show == 4 && {'color' : '#00bcd4'} || {}"></i>
                    <br>
                </div>
                <div id="bottomDiv" ng-class="ctrl.centreDiv.genreId == 0 && ctrl.horizontalMidDiv == 8 ? 'workshop-bigMainMidBottomDiv' : 'mainMidBottomDiv'">{{ctrl.eventDetails[ctrl.centreDiv.genreId].events[ctrl.horizontalMidDiv].name}}</div>
            </div>
        </div>
    </div>

    <div class="navIconsEvents" data-toggle="tooltip" data-placement="top" title="Use Arrow Keys">
        <img src="../images/arrows.png" class="navIconImage">
    </div>

</div>

<script>
    if($('html').hasClass('fp-enabled')){
        $.fn.fullpage.destroy('all');
    }

    $(document).ready(function () {
        $('#viewport').fullpage({
            afterLoad: function(anchorLink, index){
                $('#fp-nav').hide();
            }
        });


    });
</script>
