<div ng-controller="UserDetailsController as ctrl">
    <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true }"></toaster-container>
    <div ng-if="ctrl.loggedIn">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title"></h3>
        </div>
        <div class="modal-body" id="modal-body">
            <br><br>
            <label class="register-label" for="College">College:</label>
            <select class="register-select" id="college" name="user_college" ng-model="ctrl.userCollege" required>
                <option ng-repeat="college in ctrl.colleges  track by $index">{{college}}</option>
            </select>

            <label class="register-label" for="dept">Department:</label>
            <select class="register-select" id="dept" name="user_dept" ng-model="ctrl.userDepartment" required>
                <option ng-repeat="dept in ctrl.departments  track by $index">{{dept}}</option>
            </select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ctrl.update()" style="padding: 5px 5px; font-size: 20px;">Update</button>
        </div>
    </div>
    <div ng-if="!ctrl.loggedIn">Logged Out</div>
</div>